@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body, main {
		display: block;
	}
	input {
		&::-ms-clear, &::-ms-reveal {
			display: none;
		}
	}
	header {
		.logo {
			img {
				width: 100%;
			}
		}
		.basket-container {
			margin-left: auto;
		}
	}
	.product-card-pricelist .img,
	.product-card .img, .product-card-list .img,
	.product-detail .short-products-list .items .item .img {
		position: relative;
		display: block;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 0;
		}
	}
	.previously .items .item .img,
	.product-main-info .product-img .main-img,
	.product-fast-view .product-img .main-img,
	.brands-page .brands-previews .items .item .img,
	body.aside-right .content-wrapper .right-column .brand-img .img {
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1;
		}
	}
	.offers .item .img,
	.brands .items .item,
	.promo-main-banner-img,
	section.news .previews .item .img,
	.actions .offer .content .main-content .img,
	.product-main-info .product-img .thumbnails .preview,
	.product-fast-view .product-img .thumbnails .preview,
	.product-main-info .set-constructor .base-product .img,
	.product-main-info .set-constructor .sets-list .list .img a {
		img {
			min-width: 1px;
			min-height: 1px;
		}
	}
	.brands-page .brands-previews,
	.news:not(section) .news-previews,
	.catalog .products-container .products,
	body.aside-right .content-wrapper .content-column {
		width: 100%;
	}
	.product-detail .feedback .form {
		width: 100%;
	}
	.product-wrap,
	.offers .offer-wrap,
	.catalog .subcategories .item {
		width: ~"calc((100% - 145px)/6)";
	}
	.catalog :not(.top).products-container.has-filter .products .products-list.card .product-wrap {
		width: ~"calc((100% - 121px)/5)";
	}
	.product-detail .advantages .item,
	.product-detail .advantages .item, .promo-page .advantages .item {
		width:~" calc((100% - 97px)/4)";
	}
	.brands-page .brands-previews .items .item,
	.gallery .content .gallery-category .items .item {
		width: ~"calc((100% - 81px)/4)";
	}
	.promo-page .promo-text .video-section .item,
	.product-detail .tabs-container .tabs-content .videos .items .item {
		width: ~"calc((100% - 42px)/2)";
	}
	.catalog-menu.open:not(.open-on-hover) nav .sub, .catalog-menu.open-on-hover .content:hover nav .sub {
		.items {
			max-height: 450px;
		}		
	}
	.product-card .img.fast-view .link-fast-view {
		top: 50%;
		left: 50%;
		margin: -21px 0 0 -78px;
	}
	.catalog-menu nav .sub {
		height: 1px;
	}
}
@media screen and (max-width: 1550px) and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	header {
		.tel-container {
			width: 15%;
		}
		.basket-container {
			margin-left: auto;
		}
	}
}
@media (max-width: 1367px) {
	@supports (-ms-ime-align:auto) {
		.catalog .categories .category-wrap:not(.category) {
			width: ~"calc(-25px + 50%)";
		}
	}
}